.container {
  background-color: #cbecff;
  display: grid;
  justify-items: center;
  padding: 80px;
}

.title {
  font-size: 50px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link {
  background-color: #2894ec;
  border-radius: 30px;
  padding: 8px 30px;
  text-align: center;
}
