@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

html,
body,
#root {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
}

#root {
	display: grid;
	grid-template: minmax(0, 1fr) / minmax(0, 1fr);

  font-family: 'Tektur', cursive;
  font-size: 30px;
}
